
* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

/* group styles */

.btn {
  background-color: #006a50;
  border-radius: 8px;
  padding: 12px 17px;
  color: #ffffff;
  font-size: 18px;
  border-style: none;
}

.font_style{
    font-size: 40px;
    color: #0E0E0E;
    font-weight: bold;
}

/* banner section start */

#banner_section {
  /* padding: 160px ; */
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 160px;
  padding-right: 160px;
}

.banner_container {
  background-color: #c6e4d6;
  /* max-width: 1280px; */
  height: 560px;
  display: flex;
  flex-direction: row;
  gap: 64px;
  padding-top: 80px;
  border-radius: 24px;
}

.banner_content {
  margin: 60px 0px 117px 117px;
}

.banner_content p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.banner_content h2 {
  color: #0e0e0e;
  font-weight: bold;
  font-size: 62px;
  margin-bottom: 24px;
}

.image_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 70px;
}

/* banner section end */

/* vision of future section start */

#vision_of_future_section {
  /* padding: 160px; */
  margin-bottom: 80px;
  padding-left: 160px;
  padding-right: 160px;
}

.future_container {
  display: flex;
  gap: 24px;
  margin-bottom: 32px;
}

.future_section_container h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.future_section_container p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  margin-bottom: 32px;
}

.future_content1 {
  background-color: rgba(109, 156, 237, 0.19);
  border-radius: 16px;
  padding: 32px;
}
.future_content2 {
  background-color: #c6e4d6;
  border-radius: 16px;
  padding: 32px;
}
.future_content3 {
  background-color: #f7ebcf;
  border-radius: 16px;
  padding: 32px;
}

.future_content1 h3,
.future_content2 h3,
.future_content3 h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 12px;
}

.future_content1 p,
.future_content2 p,
.future_content3 p {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}

/* vision of future section end */

/* recent news section start*/
#recent_news {
  padding-left: 160px;
  padding-right: 160px;
  margin-bottom: 80px;
}

.recent_news_container h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.recent_news_container p {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}

.resent_news_content {
  display: flex;
  gap: 32px;
  color: #ffffff;
  border-radius: 24px;
  padding: 48px;
  box-shadow: 10px 10px 10px 8px whitesmoke;
  margin-bottom: 24px;
}
.image_box2 img {
  border-radius: 24px;
}

.resent_h3 {
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
}

.recent_p{
    margin-top: 12px;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}

/* recent news section end */


/* donate section start */
#donate_section{
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 80px;
}

.donate_content_1 h2{
    text-align: center;
    margin-bottom: 24px;
}

.donate_content_1 p{
    color: rgba(14, 14, 14, 0.7);
    text-align: center;
    margin-bottom: 32px;
}

.donate_content_2{
    padding-left: 105px;
    padding-right: 105px;
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 32px;
}

.taka{
    padding: 40px;
    border-radius: 16px;
    box-shadow: 10px 10px 10px 8px whitesmoke;

}

.full_width_input {
    width: 100%; 
    padding: 16px;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 32px;
}

.btn_div{
    text-align: center;
}

/* donate section end */


/* Newsletter Section Styles */
#newsletter_section{
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 80px;
}

.newsletter_container{
    background-color: #c6e4d6;
    padding: 80px 265px;
    border-radius: 24px;
}

.newsletter_content p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 16px;
    margin-bottom: 24px;
}

.newsletter_form{
    display: flex;
    gap: 0;
    justify-content: center;
    margin-bottom: 24px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.newsletter_input {
    flex: 1;
    padding: 12px 16px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.newsletter_btn {
    background-color: #006a50;
    padding: 12px 16px;
    color: #ffffff;
    font-size: 18px;
    border-style: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .news_p{
    text-align: center;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  }



